
$gradient: linear-gradient(to right, #4dd1d3, #002b50);
$gradientSpaceBox: linear-gradient(#d9d9d9, #fff);
$verde-escuro: #002b50;
$verde-claro: #4dd1d3;
$colorBox: #f1f1ef;
$sombra-box: 0px 0px 8px 1px #aaa;

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

.container{
    max-width: 1170px;
    margin: auto; 
}

.col-12{
    padding: {
        left: 15px;
        right: 15px;
    }
}
.col-4{
    padding: {
        left: 15px;
        right: 10px;
    }
}

header{
    background: $gradient;
    padding: {
        top: 10px;
        bottom: 10px
    } 
    .col-12{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        height: 45px;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .Menu{
        display: flex;
        padding: 0px;
        li{
            list-style: none;
            margin-left: 30px;
            &:first-child{
                margin-left: 0px;
            }
            a{
                color: #fff;
            }
        }
    }
    .MenuResponsive{
        display: none;
        #MenuToggle{
            width: 50px;
            height: 28px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;
            span{
                width: 25px;
                height: 3px;
                background: #fff;
            }
        }
        .openMenu{
            span{
                &:first-child{
                    transform: rotate(45deg);
                }
                &:last-child{
                    transform: rotate(135deg);
                    margin-top: -28px;
                }
            }
        } 
        
        .openMenu {
            .off{
                display: none;
            } 
        }
        
        .options{
            display: none;
            position: fixed;
            right: 0px;
            bottom: 0px;
            top: 65px;
            transition: 0.6s;
            background: #fff;
            padding: 15px 25px;
        }
        .options ul{
            padding: {
                left: 15px;
                right: 35px;
            };
            li{
                list-style: none;
                margin-bottom: 15px; 
                a{
                    color: $verde-escuro;
                }
            }
        }
        .options.active{
            display: block;
            transition: 0.6s;
        }
    }
}

.photo{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 50%;
}

.SpaceBox{
    font-size: 14px;
    background: $gradientSpaceBox;
    .container{
        display: flex;
        flex-wrap: wrap;
        .col-12{
            width: 100%;
            .box-active{
                display: flex;
                align-items: center;
                background-color: $colorBox;
                box-shadow: $sombra-box;
                padding: 25px;
                margin: 25px 0px;
                .photo{
                    img{
                        max-height: 100%;
                    }
                }
                .dado{
                    display: flex;
                    P{
                        margin: 0px 0px 5px 0px;
                        &:first-child{
                            width: 85px;
                            color: #8a8a8a;
                            text-align: right;
                            margin-right: 5px;
                        }
                        &:last-child{
                            text-align: left;
                            font-weight: bold;
                        }
                    }
                    &:last-child{
                        p{
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
        .col-4{
            width: 30%;
            flex-grow: 1;
            &:nth-child(3n + 1){
                padding-right: 15px;
            }
            .box{
                display: flex;
                align-items: center;
                background-color: $colorBox;
                box-shadow: $sombra-box;
                padding: 25px;
                margin-bottom: 25px;
                .number-photo{
                    width: 70px;
                    height: 70px;
                    position: relative;
                    span{
                        width: 10px;
                        height: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        color: $verde-escuro;
                        background-color: $verde-claro;
                        padding: 5px;
                        border-radius: 50%;
                    }
                }
                .nome-cargo{
                    margin-left: 20px;
                    p{
                        text-align: left;
                        margin: 0px;
                        &:first-child{
                            font-weight: bold;
                        }
                        &:last-child{
                            color: #8a8a8a;
                        }
                    }
                };
            }
        }
    }
}

@media screen and (max-width: 678px){
    header{
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        .Menu{
            display: none;
        }
        .MenuResponsive{
            display: block;
        }
    }
    .SpaceBox{
        margin-top: 60px;
    }
}